# cognitiveservice.config
cs.visionkey = AWAd1Cfxz8rMViDWis3xcySlJxCNp3UYqHuerMdGYxdmUJZUmbMzJQQJ99AKACYeBjFXJ3w3AAAFACOGA2sy
cs.visionendpoint = https://reconhecimentodeanimais.cognitiveservices.azure.com/computervision/imageanalysis:analyze?model-name=teste607v1&language=en&gender-neutral-caption=false&api-version=2023-04-01-preview